repos:
  - repo: https://github.com/python-poetry/poetry
    rev: "2.2.1"
    hooks:
      - id: poetry-check
      - id: poetry-lock
  - repo: https://github.com/python-poetry/poetry-plugin-export
    rev: "1.9.0"
    hooks:
      - id: poetry-export
        args: ["-f", "requirements.txt", "-o", "docs/requirements.txt", "--without-hashes", "--only", "doc"]
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: "25.12.0"
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: "7.0.0"
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/pydocstyle
    rev: "6.3.0"
    hooks:
      - id: pydocstyle
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.9"
    hooks:
      - id: ruff
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.19.0"
    hooks:
      - id: mypy
  - repo: https://github.com/markdownlint/markdownlint
    rev: "v0.15.0"
    hooks:
      - id: markdownlint

exclude: ^example/

ci:
  skip:
    - poetry-lock  # Due to errors during PyPI connection.
