[tool.poetry]
name = "peakrdl_markdown"
version = "0.1.6"
description = "Export Markdown description from the systemrdl-compiler register model"
authors = ["Marek Pikuła <marek@serenitycode.dev>"]
maintainers = ["Marek Pikuła <marek@serenitycode.dev>"]
license = "GPL-3.0-only"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering :: Electronic Design Automation (EDA)",
]
repository = "https://github.com/SystemRDL/PeakRDL-Markdown"
documentation = "https://peakrdl-markdown.readthedocs.io"
readme = "README.md"
packages = [
    { include = "peakrdl_markdown", from = "src"}
]

[tool.poetry.dependencies]
python = "^3.7.0"
systemrdl-compiler = "^1.25.0"
peakrdl = "^0.9.0"
py-markdown-table = "^0.3.3"

[tool.poetry.group.dev.dependencies]
pre-commit = "^2.20.0"

[tool.poetry.group.lint.dependencies]
black = "^22.8.0"
isort = "^5.10.1"
mypy = "^0.971"
pycodestyle = "^2.9.1"
pydocstyle = "^6.1.1"
pylint = "<2.15"  # Python 3.7.0 requirement.

[tool.poetry.group.test.dependencies]
pytest = "^7.1.3"
pytest-cov = "^4.0.0"
pylint-pytest = "^1.1.2"
coveralls = "^3.3.1"

[tool.poetry.group.doc.dependencies]
linuxdoc = "^20211220"
Sphinx = "^5.2.3"
sphinx-rtd-theme = "^1.0.0"
m2r2 = "<0.3.3"
sphinx-autobuild = "^2021.3.14"

[tool.poetry.plugins."peakrdl.exporters"]
"markdown" = "peakrdl_markdown.__peakrdl__:Exporter"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.pydocstyle]
convention = "pep257"
